/*--------------------------------------------------------------------
 * Images
 *------------------------------------------------------------------*/
/*  Images should always span 100% if their container */
img {
    width: 100%;
    display: inline-block;
    margin: 26px 0 17px 0;
    padding: 0;
    @include respond-max-width($bp-large) {
        margin: 21px 0 13px 0;
    }
}

figure {
    @include clearfix;
    @include clearboth;
    margin-bottom: space(1);
    position: relative;

    &.left,
    &.right {
        margin-bottom: space(0.5);
    }
}

figcaption {
    font-size: em($font-size7);
    
    .full-bleed &,
    .bleed & { 
        /* If the image is full-bleed, restore the caption to the content width. */
        @include restore-padding;
    }

    .pull &,
    .pull-left & {
        @include pull-padding(left, $font-size7);
    }
}


/* Figure caption alignment */
.caption-left {
    img {
        @include right;
    }
}

.caption-right {
    img {
        @include left;
    }
}

.caption-center {
    figcaption {
        text-align: center;
    }
}

// Figure Truncation
// Provides truncation for all figures.
@if $truncate-figure-caption == true {

/*--------------------------------------------------------------------
 * Figcaption Truncation
 *------------------------------------------------------------------*/
figure {
    figcaption {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
/* EMD Figure Truncation */
}