/* 138% / 1.375em */
/* 120% / 1.200em  */
/* 33px; */
/* 28.8px; */
/* 46.2px; / 2.1em */
/* 37.4px; / 1.7em */
/* L5 to L9 use base-line-height */
/* used when UI items need to be places between lines. eg Select: text */
/* same across all viewport widths */
/* It would be good to set the colour also - but referencing the $gray-c10 causes an error
$panel-color:					$gray-c10; */
/* Scss Document */
@import url(fonts/fonts.css);
.row {
  width: 96%;
  max-width: none;
  margin: 0 auto;
}

@media screen and (min-width: 480px) and (max-width: 650px) {
  .row {
    width: 95.5%;
  }
}

@media only screen and (min-width: 650px) {
  .row {
    width: 92.9%;
  }
}

.row.fluid-fill.wide {
  width: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 1280px) {
  .row.fluid-fill.wide {
    width: 88%;
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.main {
  max-width: 700px;
  padding: 0;
}

@media only screen and (min-width: 480px) {
  .main {
    padding: 0 30px;
  }
}

@media only screen and (min-width: 650px) {
  .main {
    padding: 0 25px;
  }
}

.feature {
  max-width: 700px;
  padding: 0;
}

@media only screen and (min-width: 480px) {
  .feature {
    padding: 0 30px;
  }
}

@media only screen and (min-width: 650px) {
  .feature {
    padding: 0 25px;
  }
}

@media screen and (min-width: 880px) and (max-width: 1280px) {
  .feature {
    max-width: 1350px;
  }
}

@media only screen and (min-width: 1280px) {
  .feature {
    max-width: 1025px;
  }
}

.wide {
  max-width: 700px;
  padding: 0;
}

@media only screen and (min-width: 480px) {
  .wide {
    padding: 0 30px;
  }
}

@media only screen and (min-width: 650px) {
  .wide {
    padding: 0 25px;
  }
}

@media only screen and (min-width: 880px) {
  .wide {
    max-width: 1350px;
  }
}

.row.fill {
  width: 100%;
}

/* Right Aside and Offset */
.noflex {
  width: 100%;
}

.noflex .col-xl-4, .noflex .col-lg-5, .noflex .col-md-6, .noflex .col-xs-12 {
  padding-top: 0;
  padding-bottom: 0;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  /*for fixing issue in Safari and Firefox*/
}

@media only screen and (max-width: 650px) {
  .noflex {
    order: 0;
    display: flex;
    flex-direction: column;
  }
}

.noflex .indent-right {
  float: right;
  margin-left: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.noflex .indent-left {
  float: left;
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 650px) {
  .noflex .indent-right, .noflex .indent-left {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.noflex .aside-right {
  float: right;
  margin-left: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

@media only screen and (max-width: 880px) {
  .noflex .aside-right {
    margin-right: 0;
  }
}

.noflex .aside-left {
  float: left;
  margin-right: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

@media only screen and (max-width: 880px) {
  .noflex .aside-left {
    margin-left: 0;
  }
}

.noflex .aside-right, .noflex .aside-left {
  width: 325px;
}

@media only screen and (max-width: 650px) {
  .noflex .aside-right, .noflex .aside-left {
    width: 100%;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    float: none;
  }
}

.main-fix p, .main-fix h2, .main-fix h3, .main-fix h4, .main-fix h5, .main-fix h6 {
  padding-left: 15px;
  /* to add the extra padding when we have flex container */
  padding-right: 15px;
  float: none;
}

@media only screen and (max-width: 650px) {
  .main-fix p, .main-fix h2, .main-fix h3, .main-fix h4, .main-fix h5, .main-fix h6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 880px) {
  .main-fix.center.main {
    padding: 0;
  }
}

/* 168.75% */
/* 143.75% */
/* 150% */
/* 131.25% */
/* 137.50% */
/* 118.75% */
/* 125% */
/* 106.25% */
/* L5 to L9 use base-line-height */
/* used when UI items need to be places between lines. eg Select: text */
/* same across all viewport widths */
/* It would be good to set the colour also - but referencing the $gray-c10 causes an error
$panel-color:					$gray-c10; */
/* Scss Document */
/*
 * This is the project default theme
 */
body {
  font-family: Source Sans Pro,Helvetica,Verdana,sans;
  color: #4c4e50;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
}

.multiple-choice-text-options .multple-choice input {
  border: 1px solid #00a3c0;
}

.multiple-choice-text-options input [type=radio] {
  border: 5px solid #00a3c0;
}

.feedback-button {
  min-width: 90px;
  border: none;
  font-weight: 400;
  background-color: #fb6400 !important;
  color: #fff;
  letter-spacing: .03em;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.feedback-button:disabled {
  background-color: rgba(255, 255, 255, 0.5) !important;
  color: #7f8281;
  border: 2px solid #a7a9ab;
}

.anatomy-title {
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  background-color: #4c4e50;
}

.anatomy-title h6 .explib-widget-title-block {
  font-family: "Source Sans Pro", Helvetica, Verdana, sans;
  font-weight: bold;
  line-height: 1.5;
  font-size: 1rem;
  text-align: left;
  color: #ffffff;
}

.anatomy-stem {
  background-color: #fff;
  border-bottom: none;
  border-top: #00a3bf;
  border-left: #00a3bf;
  border-right: #00a3bf;
  border-style: solid;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  color: #4c4e50;
}

.anatomy-title .explib-widget-title-block {
  font-family: "Source Sans Pro", Helvetica, Verdana, sans;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  color: #4c4e50;
}

/*
    .interaction-area {
        border-left: #00a3bf;
        border-right: #00a3bf;
        border-style: solid;
        border-left-width: $border-width !important;
        border-right-width: $border-width !important;
        background-color: #fff;
        line-height: $L4-line-height;
        text-align: left;
        color: $text-color;
    }
*/
.interaction-area .practice {
  background-color: #fff;
  line-height: 1.35;
  text-align: left;
  color: #4c4e50;
}

.interaction-area {
  border-left: #00a3bf;
  border-right: #00a3bf;
  border-bottom: #00a3bf;
  border-style: solid;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  background-color: #fff;
  line-height: 1.35;
  text-align: left;
  color: #4c4e50;
}

.interaction-area div#video-component div.vjs-control-bar button.vjs-play-control.vjs-control {
  background-color: #d76626;
  margin: 5px;
  width: 30px;
  height: 30px;
}

.interaction-area div#video-component div.vjs-control-bar .vjs-play-progress {
  background: #f6a065;
}

.interaction-area div#video-component div.vjs-control-bar .vjs-progress-control {
  top: 17px;
  width: 75%;
  left: 50px;
}

.video--play:before {
  background-image: url(images/play_1.svg);
}

.video--pause:before {
  background-image: url(images/pause_1.svg);
}

.video--play:before, .hmh-video-skin .vjs-play-control:before, .hmh-video-skin .vjs-big-play-button:before {
  width: 1em;
  height: 1em;
  background-position: -17.4375em -17.4375em;
}

.video--pause:before, .hmh-video-skin.vjs-playing .vjs-play-control:before {
  width: 1em;
  height: 1em;
  background-position: -13.6875em -13.6875em;
}

.anatomy-feedback-area {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-width: 2px !important;
  background-color: #ffffff;
  border-style: solid;
}

explib-widget-button .explib-button {
  border-radius: 4px;
}

.anatomy-feedback {
  border-top: 2px solid #e5e6e7;
}

.mobile-controls {
  display: block;
  min-height: 0px;
}

explib-interaction-anatomy .ql-editor p, explib-interaction-anatomy .ql-editor ol, explib-interaction-anatomy .ql-editor ul, explib-interaction-anatomy .ql-editor pre, explib-interaction-anatomy .ql-editor blockquote, explib-interaction-anatomy .ql-editor h1, explib-interaction-anatomy .ql-editor h2, explib-interaction-anatomy .ql-editor h3, explib-interaction-anatomy .ql-editor h4, explib-interaction-anatomy .ql-editor h5, explib-interaction-anatomy .ql-editor h6 {
  color: #4c4e50;
  margin: 0;
  font-size: 0.8rem;
  padding: 0;
}

.theme-stem-rounded .anatomy-stem {
  padding: auto 0px auto 14px;
  background-color: #e5e6e7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: #e5e6e7;
  border-left: #e5e6e7;
  border-right: #e5e6e7;
  border-bottom: #e5e6e7 !important;
  border-style: solid;
  border-bottom: solid;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-width: 2px;
  color: #4c4e50;
  font-size: 0.9rem;
  line-height: 1.5;
}

.theme-stem-rounded .short-text-container {
  padding: 15px 13.5px;
}

.theme-stem-rounded .text-editor {
  padding-bottom: 20px;
  border-color: #00a3bf;
  border-style: solid;
  border-width: 2px;
}

.theme-stem-rounded ul {
  display: block;
  list-style-type: disc;
  font-size: 0.9rem;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.theme-stem-rounded li {
  display: list-item;
  margin-left: 20px;
}

.theme-stem-rounded .interaction-area {
  border-left: #e5e6e7;
  border-right: #e5e6e7;
  border-bottom: #e5e6e7;
  border-style: solid;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  background-color: #fff;
  line-height: 1.35;
  text-align: left;
  color: #4c4e50;
}

explib-interaction-anatomy .theme-interaction-area-rounded {
  margin-top: 0px;
}

explib-interaction-anatomy .theme-interaction-area-rounded .anatomy-title {
  border: none;
  background: none;
  padding: 0;
}

explib-interaction-anatomy .theme-interaction-area-rounded .anatomy-title h6 .explib-widget-title-block {
  font-family: "AvenirPrimaryHMH", "Source Sans Pro", serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 8px;
  color: #00a3bf;
  text-transform: uppercase;
  min-width: 100%;
  width: 100%;
}

explib-interaction-anatomy .theme-interaction-area-rounded .anatomy-stem {
  background-color: transparent;
  border: none;
  font-family: "AvenirPrimaryHMH", "Source Sans Pro", serif;
  font-style: normal;
  padding: 8px 0px 16px 0px;
  font-size: 1rem !important;
  line-height: 1.5;
  color: #4c4e50;
}

explib-interaction-anatomy .theme-interaction-area-rounded .interaction-area {
  background-color: transparent;
  border-style: none;
  border-width: 0px;
}

explib-interaction-anatomy .theme-interaction-area-rounded ftq-fiq {
  font-family: "AvenirPrimaryHMH", "Source Sans Pro", serif;
  font-style: normal;
  padding: 1px 0px 16px 0px;
  font-size: 1rem !important;
  line-height: 1.5;
  color: #4c4e50;
  border-radius: 27px;
  border-color: #00a3bf;
  border-style: solid;
  border-width: 2px;
  background-color: #fff;
}

explib-interaction-anatomy .theme-interaction-area-rounded explib-widget-controls, explib-interaction-anatomy .theme-interaction-area-rounded explib-widget-audio-controls, explib-interaction-anatomy .theme-interaction-area-rounded explib-widget-controls-mobile {
  position: relative;
  z-index: 1;
  top: 64px;
  right: 13px;
}

explib-interaction-anatomy .theme-interaction-area-rounded ftq-fiq p {
  font-family: "AvenirPrimaryHMH", "Source Sans Pro", serif;
  font-style: normal;
  font-size: 1rem !important;
  line-height: 1.5;
  color: #2773bb;
}

explib-interaction-anatomy .theme-interaction-area-rounded p {
  font-size: 1rem !important;
  line-height: 1.5;
  line-height: 1.5;
  margin: 10px 0 0 0;
  padding: 2px 0 3.5px 0;
}

explib-interaction-anatomy .theme-interaction-area-rounded p div {
  font-size: 1rem !important;
  line-height: 1.5;
  line-height: 1.5;
}

explib-interaction-anatomy .theme-interaction-area-rounded-notitle {
  margin-top: 0px;
}

explib-interaction-anatomy .theme-interaction-area-rounded-notitle .anatomy-title {
  border: none;
  background: none;
  padding: 0;
}

explib-interaction-anatomy .theme-interaction-area-rounded-notitle .anatomy-title h6 .explib-widget-title-block {
  font-family: "AvenirPrimaryHMH", "Source Sans Pro", serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 8px;
  color: #00a3bf;
  text-transform: uppercase;
  min-width: 100%;
  width: 100%;
}

explib-interaction-anatomy .theme-interaction-area-rounded-notitle .anatomy-stem {
  background-color: transparent;
  border: none;
  font-family: "AvenirPrimaryHMH", "Source Sans Pro", serif;
  font-style: normal;
  padding: 8px 0px 16px 0px;
  font-size: 1rem !important;
  line-height: 1.5;
  color: #4c4e50;
}

explib-interaction-anatomy .theme-interaction-area-rounded-notitle .interaction-area {
  background-color: transparent;
  border: none;
}

explib-interaction-anatomy .theme-interaction-area-rounded-notitle ftq-fiq {
  font-family: "AvenirPrimaryHMH", "Source Sans Pro", serif;
  font-style: normal;
  padding: 1px 0px 16px 0px;
  font-size: 1rem !important;
  line-height: 1.5;
  color: #4c4e50;
  border-radius: 27px;
  border-color: #00a3bf;
  border-style: solid;
  border-width: 2px;
  background-color: #fff;
}

explib-interaction-anatomy .theme-interaction-area-rounded-notitle .main {
  max-width: 100%;
}

explib-interaction-anatomy .theme-interaction-area-rounded-notitle explib-widget-controls, explib-interaction-anatomy .theme-interaction-area-rounded-notitle explib-widget-audio-controls, explib-interaction-anatomy .theme-interaction-area-rounded-notitle explib-widget-controls-mobile {
  position: relative;
  z-index: 1;
  top: 26px;
  right: 13px;
}

explib-interaction-anatomy .theme-interaction-area-rounded-notitle ftq-fiq p {
  font-family: "AvenirPrimaryHMH", "Source Sans Pro", serif;
  font-style: normal;
  font-size: 1.3rem !important;
  line-height: 1.5;
  color: #2773bb;
}

explib-interaction-anatomy .theme-interaction-area-rounded-notitle p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 10px 0 0 0;
  padding: 2px 0 3.5px 0;
}

explib-interaction-anatomy .theme-interaction-area-rounded-notitle p div {
  font-size: 1.1rem;
  line-height: 1.5;
}

explib-interaction-anatomy .theme-flip-cards {
  /*    img .flip-card {
        color: $text-color;
        height: 203px !important;
        height: 188px;
    }*/
}

explib-interaction-anatomy .theme-flip-cards .anatomy-title {
  display: none;
}

explib-interaction-anatomy .theme-flip-cards .anatomy-stem {
  display: none;
}

explib-interaction-anatomy .theme-flip-cards .interaction-area {
  color: #4c4e50;
  background-color: transparent;
  border-style: none;
}

explib-interaction-anatomy .theme-flip-cards h5 {
  font-family: "AvenirPrimaryHMH", "Source Sans Pro", serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
}

explib-interaction-anatomy .theme-flip-cards .front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border: none;
  background-color: transparent;
}

explib-interaction-anatomy .theme-flip-cards .front, explib-interaction-anatomy .theme-flip-cards .back {
  top: 0;
  left: 0;
  width: 210px;
  height: 100%;
  border-radius: 15px;
  border: 3px solid #2c96dd;
  box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.2);
}

explib-interaction-anatomy .theme-flip-cards .flipper {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
}

explib-interaction-anatomy .theme-flip-cards .front {
  background: #2c96dd;
}

explib-interaction-anatomy .theme-flip-cards .back {
  background: #fff;
  height: 245px;
  width: 210px;
}

explib-interaction-anatomy .theme-flip-cards .back b {
  display: none;
}

explib-interaction-anatomy .theme-flip-cards .back > span.style-scope.flip-card {
  padding: 50px 16px;
}

explib-interaction-anatomy .theme-flip-cards .main {
  max-width: 100%;
}

explib-interaction-anatomy .theme-flip-cards .wide {
  max-width: 100%;
}

explib-interaction-anatomy .theme-flip-cards .card {
  width: 210px;
  display: flex;
  height: 245px;
  margin-right: 40px;
  margin-bottom: 15px;
}

explib-interaction-anatomy .theme-flip-cards .card .last {
  width: 210px;
  display: flex;
  height: 245px;
  margin-right: 8px;
}

explib-interaction-anatomy .theme-flip-cards .card img {
  border-radius: 15px 15px 0 0;
  height: 188px;
  width: 210px;
}

explib-interaction-anatomy .theme-flip-cards .card h5 {
  margin: 0;
  color: white;
  height: 88px;
  padding: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  line-height: 25px;
  top: 164px;
  width: 100%;
}

@media (min-width: 650px) {
  explib-interaction-anatomy .theme-flip-cards .form-container {
    padding: 20px 8px;
  }
  explib-interaction-anatomy .theme-flip-cards .card {
    width: 210px;
    display: flex;
    height: 245px;
    margin-right: 20px;
  }
}

explib-interaction-anatomy .theme-audio .anatomy-title {
  display: none;
}

explib-interaction-anatomy .theme-audio .anatomy-stem {
  padding: auto 0px auto 14px;
  background-color: #fff;
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-top: #fb6400;
  border-bottom-color: #fb6400 !important;
  border-left: #fb6400;
  border-right: #fb6400;
  border-style: solid;
  border-bottom: solid;
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  color: #4c4e50;
  font-size: 0.9rem;
  line-height: 1.5;
}

explib-interaction-anatomy .theme-audio .interaction-area {
  background-color: transparent;
  border-left: #00a3bf;
  border-right: #00a3bf;
  border-bottom: #00a3bf;
  border-style: solid;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  background-color: #fff;
  line-height: 1.35;
  text-align: left;
  color: #4c4e50;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
}

explib-interaction-anatomy .theme-audio figure {
  color: #4c4e50;
  background-color: #d8d3cf;
  border-right-width: 2px !important;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}

explib-interaction-anatomy .theme-audio img#hotSpotImage_image {
  width: 50%;
}

explib-interaction-anatomy .theme-audio img {
  padding: 23px 23px;
  color: #4c4e50;
  float: left;
  height: 250px;
  width: 250px;
  border-right: #00a3bf;
  border-style: solid;
}

explib-interaction-anatomy .theme-audio .audio-gallery .ele {
  padding: 0;
}

explib-interaction-anatomy .theme-audio .audio-gallery .player-holder {
  background-color: transparent;
  color: #4c4e50;
  float: right;
  height: 250px;
  width: 250px;
  display: -webkit-flex;
  /* Safari */
  -webkit-flex-direction: column;
  /* Safari 6.1+ */
  display: flex;
  flex-direction: column;
}

explib-interaction-anatomy .theme-audio .audio-gallery .play {
  background-image: url(images/play-audio.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  width: 96px;
  height: 96px;
  background-color: #398aff;
  border: solid 3px #ffffff;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  order: 1;
}

explib-interaction-anatomy .theme-audio audio-playlist {
  display: none;
  width: 0;
  height: 0;
}

explib-interaction-anatomy .theme-audio .audio-gallery .duration {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 3;
  margin-top: 0px;
  width: 80%;
  color: #d8d3cf;
}

explib-interaction-anatomy .theme-audio .audio-gallery .duration span:first-of-type {
  float: left;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #4c4e50;
}

explib-interaction-anatomy .theme-audio .audio-gallery .duration span:last-of-type {
  float: right;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #4c4e50;
}

explib-interaction-anatomy .theme-audio .audio-gallery .progress-container {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 80%;
}

explib-interaction-anatomy .theme-audio input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.3px 0;
}

explib-interaction-anatomy .theme-audio input[type=range]:focus {
  outline: none;
}

explib-interaction-anatomy .theme-audio input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

explib-interaction-anatomy .theme-audio input[type=range]::-webkit-slider-thumb {
  box-shadow: 3px 3px 0px #000000, 0px 0px 3px #0d0d0d;
  border: 4px solid #ffffff;
  height: 23px;
  width: 23px;
  border-radius: 50px;
  background: #398aff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}

explib-interaction-anatomy .theme-audio input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

explib-interaction-anatomy .theme-audio input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

explib-interaction-anatomy .theme-audio input[type=range]::-moz-range-thumb {
  box-shadow: 3px 3px 0px #000000, 0px 0px 3px #0d0d0d;
  border: 4px solid #ffffff;
  height: 23px;
  width: 23px;
  border-radius: 50px;
  background: #398aff;
  cursor: pointer;
}

explib-interaction-anatomy .theme-audio input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

explib-interaction-anatomy .theme-audio input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

explib-interaction-anatomy .theme-audio input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

explib-interaction-anatomy .theme-audio input[type=range]::-ms-thumb {
  box-shadow: 3px 3px 0px #000000, 0px 0px 3px #0d0d0d;
  border: 4px solid #ffffff;
  height: 23px;
  width: 23px;
  border-radius: 50px;
  background: #398aff;
  cursor: pointer;
  height: 8.4px;
}

explib-interaction-anatomy .theme-audio input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

explib-interaction-anatomy .theme-audio input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

explib-interaction-anatomy .theme-audio input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 8px 0;
}

explib-interaction-anatomy .theme-audio input[type=range]:focus {
  outline: none;
}

explib-interaction-anatomy .theme-audio input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 0.2px transparent, 0px 0px 0px rgba(13, 13, 13, 0);
  background: #9b8b81;
  border-radius: 3px;
  border: 0.2px solid transparent;
}

explib-interaction-anatomy .theme-audio input[type=range]::-webkit-slider-thumb {
  box-shadow: 3px 3px 5px #000000, 0px 0px 3px #0d0d0d;
  border: 4px solid #ffffff;
  height: 23px;
  width: 23px;
  border-radius: 50px;
  background: #398aff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.2px;
}

explib-interaction-anatomy .theme-audio input[type=range]:focus::-webkit-slider-runnable-track {
  background: #a6988f;
}

explib-interaction-anatomy .theme-audio input[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 0.2px transparent, 0px 0px 0px rgba(13, 13, 13, 0);
  background: #9b8b81;
  border-radius: 3px;
  border: 0.2px solid transparent;
}

explib-interaction-anatomy .theme-audio input[type=range]::-moz-range-thumb {
  box-shadow: 3px 3px 5px #000000, 0px 0px 3px #0d0d0d;
  border: 4px solid #ffffff;
  height: 23px;
  width: 23px;
  border-radius: 50px;
  background: #398aff;
  cursor: pointer;
}

explib-interaction-anatomy .theme-audio input[type=range]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

explib-interaction-anatomy .theme-audio input[type=range]::-ms-fill-lower {
  background: #907e73;
  border: 0.2px solid transparent;
  border-radius: 6px;
  box-shadow: 0px 0px 0.2px transparent, 0px 0px 0px rgba(13, 13, 13, 0);
}

explib-interaction-anatomy .theme-audio input[type=range]::-ms-fill-upper {
  background: #9b8b81;
  border: 0.2px solid transparent;
  border-radius: 6px;
  box-shadow: 0px 0px 0.2px transparent, 0px 0px 0px rgba(13, 13, 13, 0);
}

explib-interaction-anatomy .theme-audio input[type=range]::-ms-thumb {
  box-shadow: 3px 3px 5px #000000, 0px 0px 3px #0d0d0d;
  border: 4px solid #ffffff;
  height: 23px;
  width: 23px;
  border-radius: 50px;
  background: #398aff;
  cursor: pointer;
  height: 7px;
}

explib-interaction-anatomy .theme-audio input[type=range]:focus::-ms-fill-lower {
  background: #9b8b81;
}

explib-interaction-anatomy .theme-audio input[type=range]:focus::-ms-fill-upper {
  background: #a6988f;
}

explib-interaction-anatomy .theme-flip-cards .card {
  margin-bottom: 15px;
}

@media only screen and (max-width: 320px) {
  explib-interaction-anatomy .theme-flip-cards .card {
    margin-left: auto;
    margin-right: auto;
  }
}

explib-interaction-anatomy .theme-flip-cards .card {
  width: 216px;
}

explib-interaction-anatomy .theme-flip-cards .card h5 {
  height: 58px;
  padding: 5px;
  top: 188px;
}

@media only screen and (min-width: 800px) {
  explib-interaction-anatomy .theme-flip-cards {
    background-image: url("images/flipcard-background.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

explib-interaction-anatomy .theme-audio .audio-gallery .player-holder {
  width: 50%;
  height: auto;
}

explib-interaction-anatomy .theme-audio .audio-gallery .duration {
  margin-top: 10px;
}

explib-interaction-anatomy .theme-audio .audio-gallery .play {
  margin-top: 20px;
  background-image: url("images/play-new-audio.svg");
  background-color: transparent;
  border: none;
  background-size: cover;
}

@media only screen and (max-width: 649px) {
  explib-interaction-anatomy .theme-audio .audio-gallery .play {
    margin-top: 76px;
  }
}

@media only screen and (max-width: 480px) {
  explib-interaction-anatomy .theme-audio .audio-gallery .player-holder {
    width: 100%;
  }
  .audio-gallery .duration {
    margin-bottom: 10px;
  }
  explib-interaction-anatomy .theme-audio img#hotSpotImage_image {
    width: 100%;
  }
  explib-interaction-anatomy .theme-audio img {
    border-bottom: #fb6400;
    border-style: solid;
    border-right: 0px;
  }
  explib-interaction-anatomy .theme-audio .audio-gallery .play {
    margin-top: 21px;
  }
  explib-interaction-anatomy .theme-audio .audio-gallery .progress-container {
    margin-top: 21px;
  }
  .audio-gallery .duration {
    margin-bottom: 14px;
  }
  explib-interaction-anatomy .theme-audio .audio-gallery .play {
    width: 66px;
    height: 66px;
  }
}

explib-interaction-anatomy .anatomy-title {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

@media only screen and (max-width: 480px) {
  explib-interaction-anatomy .anatomy-title {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

hmh-video .v16-9 {
  height: auto;
}

explib-interaction-anatomy .anatomy-stem {
  border-bottom: 3px solid #00a3bf;
  padding-top: 6px;
  padding-bottom: 3px;
}

@media only screen and (max-width: 320px) {
  explib-interaction-anatomy .anatomy-stem {
    padding-top: 1px;
    padding-left: 16px;
  }
}

.hmh-video-skin.vjs-big-play-centered .vjs-big-play-button {
  border: 3px solid #ffffff;
  background: #2c96dd;
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

@media only screen and (max-width: 480px) {
  .hmh-video-skin.vjs-big-play-centered .vjs-big-play-button {
    height: 60px;
    width: 60px;
  }
}

.hmh-video-skin .vjs-big-play-button:before {
  margin: 26px;
  font-size: 39px;
  margin-left: 28px;
}

@media only screen and (min-width: 650px) {
  .hmh-video-skin .vjs-big-play-button:before {
    background-position: -17.4375em -17.4375em;
  }
}

@media only screen and (max-width: 480px) {
  .hmh-video-skin .vjs-big-play-button:before {
    margin: 16px;
    margin-left: 18px;
  }
}

@media only screen and (max-width: 480px) {
  explib-interaction-anatomy .theme-stem-rounded .interaction-area {
    border-left-width: 2px !important;
    border-right-width: 2px !important;
    border-bottom-width: 2px !important;
  }
  .hmh-video-skin .vjs-big-play-button:before {
    font-size: 30px;
  }
  .hmh-video-skin .vjs-big-play-button, .hmh-video-skin:hover .vjs-big-play-button, .hmh-video-skin .vjs-big-play-button:focus {
    height: 60px;
    width: 60px;
  }
  .hmh-video-skin.vjs-big-play-centered .vjs-big-play-button {
    margin-left: -1em;
    margin-top: -1em;
  }
}

.audio-gallery .mute-container {
  display: none;
}

explib-interaction-anatomy .theme-audio img#hotSpotImage_image {
  padding: 20px;
  height: 195px;
  object-fit: contain;
}

@media only screen and (max-width: 649px) {
  explib-interaction-anatomy .theme-audio img#hotSpotImage_image {
    height: 253px;
  }
}

explib-interaction-anatomy .theme-audio .audio-gallery .pause {
  background-image: url("images/audio-pause-btn.svg");
}

explib-interaction-anatomy .theme-audio input[type=range]::-webkit-slider-thumb {
  background: #398aff !important;
  margin-top: -7.2px;
  border-width: 3px;
}

explib-interaction-anatomy .theme-audio input[type=range]::-moz-range-thumb {
  background: #398aff !important;
  margin-top: -7.2px;
  border-width: 3px;
}

explib-interaction-anatomy .theme-audio input[type=range]::-ms-thumb {
  background: #398aff !important;
  margin-top: -7.2px;
  border-width: 3px;
}

explib-interaction-anatomy .theme-interaction-area-rounded explib-widget-controls, explib-interaction-anatomy .theme-interaction-area-rounded explib-widget-audio-controls, explib-interaction-anatomy .theme-interaction-area-rounded explib-widget-controls-mobile {
  right: 0px;
}

/* Interaction Styles updates - RD */
main#wrapper .audio-controls .controls-button-wrapper button, 
main#wrapper .widget-controls .controls-button-wrapper button {
	 padding-right: 0px !important;
}
main#wrapper.theme-image-gallery .row > section#form-container {
  padding: 0 !important;
}

main#wrapper.theme-image-gallery .row > section#form-container .image-gallery-footer {
  width: 100% !important;
  border: 0px solid transparent !important;
  border-bottom: 2px solid #e5e6e7 !important;
}

main#wrapper.theme-ftq-main .row > section#form-container {
  padding: 0 !important;
  border: 0px solid #e5e6e7 !important;
}

#wrapper.theme-drawing-tool.anatomy-wrapper .anatomy-main .interaction-area {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#wrapper.theme-drawing-tool.anatomy-wrapper .anatomy-main .interaction-area > .row section#form-container {
  padding: 0 !important;
  border: 2px solid #e5e6e7;
  border-top: none;
  border-bottom: 2px solid #e5e6e7 !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#wrapper.theme-drawing-tool.anatomy-wrapper .anatomy-main .interaction-area > .row section#form-container .canvas-container {
  box-shadow: none !important;
}
#wrapper.theme-drawing-tool.anatomy-wrapper .anatomy-main .interaction-area > .row section#form-container .short-text-container .text-editor {
  border: 0px solid transparent !important;
}
#wrapper.theme-drawing-tool.anatomy-wrapper .anatomy-main .interaction-area > .row section#form-container #feedbackWrapper {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 0px solid #e5e6e7 !important;
  background-color: #fff;
  border-style: solid;
  border: 0;
}
#wrapper.theme-drawing-tool.anatomy-wrapper .anatomy-main .interaction-area > .row section#form-container .canvas-container {
  border: 0px solid transparent !important;
}


main#wrapper.theme-audio-gallery .row > section#form-container {
  padding: 0 !important;
}

main#wrapper.theme-video-gallery .row > section#form-container {
  padding: 0 !important;
}

main#wrapper.theme-tap-to-reveal li.reveal-item {
  position: relative;
}

main#wrapper.theme-tap-to-reveal li.reveal-item:nth-child(1), main#wrapper.theme-tap-to-reveal li.reveal-item:nth-child(2), main#wrapper.theme-tap-to-reveal li.reveal-item:nth-child(3), main#wrapper.theme-tap-to-reveal li.reveal-item:nth-child(4) {
  margin-bottom: 20px;
}

main#wrapper.theme-tap-to-reveal li.reveal-item:first-child:before {
  content: "";
  background: transparent;
}

main#wrapper.theme-tap-to-reveal li.reveal-item:before {
  content: "";
  display: inline-block;
  position: absolute;
  background: url(https://habitat.inklingwidgets.com/files/sn_17f9/trunk/r1/assets/widgets/ngss-widgets/common/images/ngss_arrow-right_48px.svg);
  width: 30px;
  height: 18px;
  background-repeat: no-repeat;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  background-size: 100%;
}

main#wrapper.anatomy-wrapper .anatomy-main .setup-area .anatomy-title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 22px;
  padding: 4px 30px 7px;
}

main#wrapper.anatomy-wrapper .anatomy-main .setup-area .anatomy-title h6 {
  color: white;
  font-weight: 700;
  margin: 0;
  font-size: 22px;
  padding: 3px 0 4px;
}

main#wrapper.anatomy-wrapper .anatomy-main .setup-area .anatomy-title h6 p {
  font-size: 22px;
}

main#wrapper.anatomy-wrapper .anatomy-main .setup-area .anatomy-stem {
  border: none;
  background: #e5e6e7;
  font-weight: 400;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 19.8px;
}

main#wrapper.anatomy-wrapper .anatomy-main .setup-area .anatomy-stem p {
  font-size: 19.8px;
  font-family: inherit;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area {
  border: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area > .row > section#form-container {
  border: 2px solid #e5e6e7;
  border-top: none;
  border-bottom: 2px solid #e5e6e7!important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

main#wrapper.anatomy-wrapper.theme-exp-dropdown .anatomy-main .interaction-area > .row > section#form-container {
    border-bottom: 0px solid #e5e6e7!important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

@media (min-width: 650px) {
  main#wrapper.anatomy-wrapper .anatomy-main .interaction-area > .row > section#form-container.row section#form-container {
    padding: 0px 28px;
  }
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area > .row > section#form-container > .row > section#form-container {
  justify-content: normal;
  padding: 0px;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area .image-gallery-container {
  background: #393b3c;
  border-color: #fff;
  border: none;
  height: auto;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area .image-gallery-container .image-container {
  max-height: 465px;
  min-height: auto;
  height: auto;
  display: block;
  overflow: unset;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area .image-gallery-container .image-container img {
  display: block;
  height: 100%;
  margin: 0 auto;
  display: block;
  max-height: 465px;
  max-width: 100%;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area .image-gallery-container .image-gallery-footer {
  background: #fff;
  border: 2px solid #e5e6e7;
  width: calc(100% - 4px);
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area .image-gallery-container .image-gallery-footer .image-container-caption {
  min-height: 70px;
  padding: 0px 30px;
  align-items: center;
  display: flex;
  border-bottom: 2px solid #e5e6e7;
  color: #4c4e50;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area .image-gallery-container .image-gallery-footer .image-container-caption p {
  font-size: 1em;
  font-weight: 400;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area .image-gallery-container .image-gallery-footer .image-strip-container {
  min-height: 135px;
  display: flex;
  align-items: center;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area .image-gallery-container .image-gallery-footer .image-strip-container .image-strip {
  justify-content: center;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area .image-gallery-container .image-gallery-footer .image-strip-container .image-strip .image-strip-item {
  margin: 2px 0px;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area .image-gallery-container .image-gallery-footer .image-strip-container .image-strip .image-strip-item .image-strip-item-button.image-strip-item-active {
  box-shadow: none;
  outline: none;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area .image-gallery-container .image-gallery-footer .image-strip-container .image-strip .image-strip-item .image-strip-item-button.image-strip-item-active img {
  border: 2px solid #fb6400;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area .image-gallery-container .image-gallery-footer .image-strip-container .image-strip .image-strip-item .image-strip-item-button .image-strip-item-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area .image-gallery-container .image-gallery-footer .image-item-count {
  display: none;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area table > caption {
  background: #a5dfea;
  font-size: 15.84px;
  line-height: 1.5;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area table > caption p {
  font-size: 15.84px;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area table thead th {
  padding: 15px;
  font-size: 15.84px;
  line-height: 1.5;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area table tbody {
  vertical-align: middle !important;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area table tbody td {
  vertical-align: middle !important;
  line-height: normal !important;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area table tbody td textarea {
  box-shadow: none;
  font-weight: 400;
  color: #4c4e50;
  border: 1px solid #00A3BF;
  border-radius: 3px;
  min-height: 32px;
  line-height: 20px;
  background-color: #fff;
  background-position: center left 5px;
  padding-left: 25px;
  padding: 5px;
  text-align: right;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area table tbody td textarea.correct {
  border-color: green !important;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area table tbody td textarea.incorrect {
  border-color: #e60000 !important;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area .text-editor {
  border: 2px solid #e5e6e7;
  border-top: none;
  border-bottom: none;
  padding: 15px 13.5px;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area .text-editor .quill {
  border: 2px solid #00a3c0;
  border-radius: 3px;
  resize: none;
  width: calc(100% - 30px);
  padding: 8px 10px 10px 15px;
  overflow: hidden;
  overflow-y: auto;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area .explib-widget-fill-in-the-blank-container input {
  border: 1px solid #00A3BF;
  padding: 0 5px;
  min-height: 32px;
  border-radius: 2px;
  min-width: 130px;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area .explib-widget-fill-in-the-blank-container input.input-box {
  border: 1px solid #00A3BF;
  padding: 0 5px;
  min-height: 32px;
  border-radius: 2px;
  min-width: 130px;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area .explib-widget-fill-in-the-blank-container .wrongBg.hmh-textbox {
  background: #FF261F;
  z-index: 99;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area .feedback-answer {
  border: 2px solid #e5e6e7;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 0px solid;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area .feedback-answer .feedback-button {
  min-width: 130px;
  font-family: arial;
  font-size: initial;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area .feedback-answer .icon-arrow {
  display: none;
}

@media (min-width: 650px) {
  main#wrapper.anatomy-wrapper .anatomy-main .interaction-area > .row > #form-container.row {
    padding: 15px 28px;
  }
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area > .row > #form-container.row caption {
  margin-top: 0;
}

main#wrapper.anatomy-wrapper .anatomy-main .interaction-area > .row > #form-container > .row > #form-container input, main#wrapper.anatomy-wrapper .anatomy-main .interaction-area > .row > #form-container > .row > #form-container textarea {
  box-shadow: none !important;
}

main#wrapper.anatomy-wrapper .ql-toolbar {
  overflow-x: auto;
}

.feedback-area #feedbackWrapper {
  border: 2px solid #e5e6e7;
  padding-top: 15px;
  padding-bottom: 15px;
}

.feedback-area #feedbackWrapper .feedback-button {
  min-width: 130px;
  font-family: arial;
  font-size: 0.9em;
}

.explib-interaction-anatomy div#explib-widget-title-block .anatomy-title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 22px;
  padding: 4px 30px 7px;
  background: #4c4e50;
}

.explib-interaction-anatomy div#explib-widget-title-block .anatomy-title h6 {
  color: white;
  font-weight: 700;
  margin: 0;
  font-size: 22px;
  padding: 3px 0 4px;
}

.explib-interaction-anatomy div#explib-widget-title-block .anatomy-title h6 p {
  font-size: 22px;
  padding: 0;
  color: white;
  font-weight: 700;
}

.explib-interaction-anatomy div#explib-widget-title-block .anatomy-stem {
  border: none;
  background: #e5e6e7;
  font-weight: 400;
}

.explib-interaction-anatomy .anatomy-feedback-area {
  border: 2px solid #e5e6e7;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.explib-interaction-anatomy .anatomy-feedback-area .feedback-button {
  min-width: 130px;
  font-family: arial;
  font-size: 0.8em;
  border-radius: 0;
}

.explib-interaction-anatomy .anatomy-feedback-area .icon-arrow {
  display: none;
}

.list-box .match-box .content-box:hover {
  box-shadow: 1px 4px 5px 0 rgba(50, 50, 50, 0.45) !important;
}

.list-box .match-box label {
  box-shadow: none !important;
  outline: none !important;
}

.list-box .match-box label .htJPPu[data-order="2"] div.button-box {
  background-image: none;
}

section#stimulus-container {
  background: #fff;
  border: 2px solid #e5e6e7;
}
@media screen and (min-width:880px){
  section#stimulus-container {
    border-right: 0px solid #e5e6e7;
  }
}

.dropped-text-container {
  outline: none !important;
  box-shadow: none;
  min-height: 40px;
  border-radius: 5px;
  border: 1px solid #00a3c0;
}

.dropped-text-container .drop-here {
  display: none;
}

.explib-widget-fill-in-the-blank-container input {
  text-align: right;
}

input.incorrect {
  background-position: 5px center !important;
  padding-left: 15px !important;
}

input.correct {
  background-position: 5px center !important;
  padding-left: 15px !important;
  text-align: right;
}

#feedbackWrapper{
  border: none;
}

#feedbackWrapper.show .button-panel, #feedbackWrapper.correct .button-panel {
  margin-bottom: 15px;
}

#feedbackWrapper.show .button-panel button:hover, #feedbackWrapper.show .button-panel button:focus, #feedbackWrapper.correct .button-panel button:hover, #feedbackWrapper.correct .button-panel button:focus {
  webkit-box-shadow: 0 2px 2px 1px #ccc;
  -moz-box-shadow: 0 2px 2px 1px #ccc;
  box-shadow: 0 2px 2px 1px #ccc;
  background: #fb6400;
}

#feedbackWrapper.show span#feedbackYesNoData p, #feedbackWrapper.correct span#feedbackYesNoData p {
  font-size: 0.9em;
  margin-bottom: 10px;
  font-weight: 400;
}

#feedbackWrapper.show .explib-widget-fill-in-the-blank-container span.text-content span, #feedbackWrapper.show .explib-widget-fill-in-the-blank-container span.text-content p, #feedbackWrapper.correct .explib-widget-fill-in-the-blank-container span.text-content span, #feedbackWrapper.correct .explib-widget-fill-in-the-blank-container span.text-content p {
  font-size: 1em !important;
  margin-left: 5px !important;
}

#feedbackWrapper.show .feedbackYesNo, #feedbackWrapper.correct .feedbackYesNo {
  color: #378500;
}

#feedbackWrapper.show .feedbackYesNo p, #feedbackWrapper.correct .feedbackYesNo p {
  color: #378500;
  margin-bottom: 15px;
}

#feedbackWrapper.incorrect .button-panel {
  margin-bottom: 15px;
}

#feedbackWrapper.incorrect .button-panel button:hover, #feedbackWrapper.incorrect .button-panel button:focus {
  webkit-box-shadow: 0 2px 2px 1px #ccc;
  -moz-box-shadow: 0 2px 2px 1px #ccc;
  box-shadow: 0 2px 2px 1px #ccc;
  background: #fb6400;
}

#feedbackWrapper.incorrect span#feedbackYesNoData p {
  font-size: 0.9em;
  margin-bottom: 10px;
  font-weight: 400;
}

#feedbackWrapper.incorrect .explib-widget-fill-in-the-blank-container span.text-content span, #feedbackWrapper.incorrect .explib-widget-fill-in-the-blank-container span.text-content p {
  font-size: 1em !important;
  margin-left: 5px !important;
}

#answer-bank ul.multiple-choice-image-options li .option-wrapper {
  border: 1px solid #2c96dd !important;
}

#answer-bank ul.multiple-choice-image-options li .option-wrapper label * {
  box-shadow: none;
  border: none;
}

#answer-bank ul.multiple-choice-image-options li .option-wrapper label .box {
  padding: 2px;
}

#answer-bank ul.multiple-choice-image-options li .option-wrapper label .box.check-control-correct {
  border: 1px solid #4fa80d !important;
  padding: 2px;
}

#answer-bank ul.multiple-choice-image-options li .option-wrapper label .box.check-control-correct .feedback-icon {
  bottom: -32px;
  right: 8px;
  z-index: 9;
  border-radius: 0px !important;
}

#answer-bank ul.multiple-choice-image-options li .option-wrapper label .box.check-control-incorrect {
  border: 1px solid #ff261f !important;
  padding: 2px;
}

#answer-bank ul.multiple-choice-image-options li .option-wrapper label .box.check-control-incorrect .feedback-icon {
  bottom: -32px;
  right: 8px;
  z-index: 9;
  border-radius: 0px !important;
}

#answer-bank ul.multiple-choice-image-options li .option-wrapper label figcaption p {
  font-size: inherit;
}

#answer-bank ul.multiple-choice-image-options li .option-wrapper label figcaption.multiple-choice {
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0;
  border-top: 1px solid #e5e6e7 !important;
  background: #fff;
  position: relative;
}

#answer-bank ul.multiple-choice-image-options li .option-wrapper label.on figcaption p {
  font-size: inherit;
}

#answer-bank ul.multiple-choice-image-options li .option-wrapper label.on figcaption.multiple-choice {
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0;
  background: #00a3bf !important;
  color: #fff;
}

#answer-bank ul.multiple-choice-image-options li .option-wrapper label.on figcaption.multiple-choice:after {
  content: "";
  display: inline-block;
  position: absolute;
  background: url("https://habitat.inklingwidgets.com/files/sn_17f9/trunk/r1/assets/widgets/ngss-widgets/common/images/ngss_check-correct_16px.svg") no-repeat;
  top: 10px;
  right: 5px;
  width: 20px;
  height: 20px;
}

#answer-bank ul.multiple-choice-image-options li .check-control-incorrect .feedback-icon {
  background-color: #ff261f !important;
}

button.vjs-big-play-button {
  background: url(https://habitat.inklingwidgets.com/files/sn_17f9/trunk/r1/assets/widgets/ngss-widgets/video-gallery/styles/images/play_large.svg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border: none !important;
}

button.vjs-big-play-button:hover {
  box-shadow: none !important;
}

button.vjs-big-play-button:before {
  background: transparent !important;
}

.droppable-wrapper .line-container .line-circle {
  border-color: #00a3c0 !important;
  box-shadow: inset 0 0 0 1px #f8f8f9, 0 0 0 1px #f8f8f9 !important;
}

.droppable-wrapper .line-container .line {
  background-color: #00a3c0 !important;
}

.droppable-wrapper .dropped-text-container {
  padding: 0px;
}

.droppable-wrapper .dropped-text-wrapper {
  border: 1px solid #DCDCDC;
}

#interaction-container ul.draggable-items {
  display: block;
  margin: auto;
  text-align: center;
  align-items: center;
  background: #f8f8f9;
  box-shadow: none;
}

#interaction-container ul.draggable-items li.draggable {
  display: inline-block;
  width: 25%;
}

#interaction-container ul.draggable-items li.draggable > span:focus {
  box-shadow: none;
}

#interaction-container ul.draggable-items .draggable-item-container > p {
  font-size: 15.486px;
}

#interaction-container ul.draggable-items .draggable-item-container > p * {
  font-size: 15.486px;
}

button.box, .button, button, input, .ql-editor, button:focus .focusable, .audio-controls button:focus .focusable, .widget-controls button:focus .focusable, .feedback-button:focus .focusable, .multiple-choice input:focus + label:before, canvas {
  box-shadow: none !important;
}

.kjYAOd span, .kjYAOd p {
  font-size: 15.486px !important;
}

#feedbackWrapper .feedbackYesNo {
  font-size: 0.9em !important;
  font-weight: 400;
}

#feedbackWrapper #feedbackYesNoData {
  font-size: 0.9em !important;
  font-weight: 400;
  color: #7F8282;
}

#feedbackWrapper #feedbackYesNoData * {
  font-size: inherit !important;
  font-weight: 400;
  color: #7F8282;
}

#feedbackWrapper #feedbackTextData {
  font-size: 0.9em !important;
  font-weight: 400;
}

#feedbackWrapper #feedbackTextData * {
  font-size: inherit !important;
  font-weight: 400;
  color: #7F8282;
}

#feedbackWrapper.finalincorrect .feedbackYesNo {
  color: #fb0019;
}

#feedbackWrapper.finalincorrect #feedbackYesNoData {
  color: #fb0019;
}

#feedbackWrapper.finalincorrect #feedbackYesNoData p {
  color: #fb0019;
}

#feedbackWrapper.feedback-correct .feedbackYesNo, #feedbackWrapper.feedback-incorrect .feedbackYesNo {
  font-size: 0.9em !important;
  font-weight: 400;
}

#feedbackWrapper.feedback-correct #feedbackYesNoData, #feedbackWrapper.feedback-incorrect #feedbackYesNoData {
  font-size: 0.9em !important;
  font-weight: 400;
  color: inherit;
}

#feedbackWrapper.feedback-correct #feedbackYesNoData *, #feedbackWrapper.feedback-incorrect #feedbackYesNoData * {
  font-size: inherit !important;
  font-weight: 400;
  color: inherit;
}

#feedbackWrapper.feedback-correct #feedbackTextData, #feedbackWrapper.feedback-incorrect #feedbackTextData {
  font-size: 0.9em !important;
  font-weight: 400;
}

#feedbackWrapper.feedback-correct #feedbackTextData *, #feedbackWrapper.feedback-incorrect #feedbackTextData * {
  font-size: inherit !important;
  font-weight: 400;
  color: inherit;
}

#feedbackWrapper.feedback-correct.finalincorrect .feedbackYesNo, #feedbackWrapper.feedback-incorrect.finalincorrect .feedbackYesNo {
  color: inherit;
}

#feedbackWrapper.feedback-correct.finalincorrect #feedbackYesNoData, #feedbackWrapper.feedback-incorrect.finalincorrect #feedbackYesNoData {
  color: inherit;
}

#feedbackWrapper.feedback-correct.finalincorrect #feedbackYesNoData p, #feedbackWrapper.feedback-incorrect.finalincorrect #feedbackYesNoData p {
  color: inherit;
}

.feedback-answer .button-container .feedback-button {
  webkit-box-shadow: 0 2px 2px 1px #ccc;
  box-shadow: 0 2px 2px 1px #ccc;
  color: #fb6400 !important;
  border: 1px solid #fb6400 !important;
  background: #fff !important;
  position: relative;
}

.feedback-answer .button-container .feedback-button:disabled {
  background-color: rgba(255, 255, 255, 0.5) !important;
  color: #7f8281 !important;
  border: 2px solid #a7a9ab !important;
}

.feedback-answer .button-container.isOpen {
  background: transparent;
}

.feedback-answer .button-container.isOpen .feedback-button {
  border-radius: 50%;
  text-indent: -200px;
  width: 26px !important;
  height: 26px !important;
  min-width: 26px !important;
  min-height: 26px !important;
  position: relative;
}

.feedback-answer .button-container.isOpen .feedback-button:after {
  content: "";
  background: url(https://habitat.inklingwidgets.com/files/sn_17f9/trunk/r1/assets/widgets/ngss-widgets/common/images/nav-up.svg);
  background-size: 75%;
  display: inline-block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 3px;
  background-repeat: no-repeat;
  right: -2px;
}

.feedback-answer .button-container.isOpen .focusable {
  display: block;
  width: 100%;
  height: 100%;
}

.feedback-answer .sample-answer-container hr {
  display: none;
}

.feedback-answer .sample-answer-container > section {
  background: transparent;
}

.feedback-answer .sample-answer-container .sample-answer-content {
  background: #f1f2f3;
  margin-top: 10px;
  margin: 10px 30px 10px;
  width: calc(100% - 60px);
  color: #4c4e50;
}

.reveal-wrapper.reveal {
  border: 1px solid #00a3bf;
}

#toolBarPanel {
  border: 0px solid #e5e6e7 !important;
  border-bottom: 2px solid #e5e6e7 !important;
}

.canvas-container {
  border: 2px solid #a7a9ab !important;
}

#captionOverlay.caption-overlay .ele {
  font-size: 17.664px;
  line-height: 26.496px;
}

#playlistFrame button.focusable.playlist-container span.focusable {
  font-size: 17.664px;
}

div#answer-bank ul.image-options li .image-option label button {
  padding: 2px;
}

div#answer-bank ul.image-options li .image-option label button:hover {
  padding: 2px;
}

div#answer-bank ul.image-options li .image-option label .image-item-footer {
  padding: 0px;
  background: #fff;
}

div#answer-bank ul.image-options li .image-option label .image-item-footer figcaption {
  margin-top: 0;
}

div#answer-bank ul.image-options li .image-option label .image-item-footer figcaption p {
  font-size: 0.9em;
}

div#answer-bank .option-parent.multiple-choice .click-action .box.inline {
  border: 1px solid #00a3c0;
}

div#answer-bank .option-parent.multiple-choice .click-action .box.inline.check-control-correct {
  border: 1px solid #75BE43;
}

div#answer-bank .option-parent.multiple-choice .click-action .box.inline.check-control-incorrect {
  border: 1px solid #F05144;
}

div#answer-bank .option-parent.multiple-choice .click-action .answer-text {
  color: #7f8282;
}

div#answer-bank .option-parent.multiple-choice .click-action .answer-text:hover, div#answer-bank .option-parent.multiple-choice .click-action .answer-text:focus {
  color: #4c4e50;
}

div#answer-bank .option-parent .answer-text p {
  font-size: 0.9em;
}

ol.multiple-choice li.multiple-choice {
  color: #4c4e50;
}

.select-box .drop-down .dropdown-select .exp_button {
  border-color: #00a3c0;
}

.select-box .drop-down .dropdown-select .exp_button:hover {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.26) !important;
}

.select-box .drop-down .dropdown-select .exp_elem_list {
  border: 1px solid #00a3c0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.26) !important;
  overflow-y: auto !important;
}

.select-box .drop-down .dropdown-select .exp_elem_list li {
  border-bottom: 1px solid #ccc;
  position: relative;
}

.select-box .drop-down .dropdown-select .exp_elem_list li:last-child {
  border-bottom: 0px solid #ccc;
}

.host-wrapper {
  width: 40px !important;
  height: 40px !important;
}

.host-wrapper .focusable {
  width: 40px;
  height: 40px;
}

.host-wrapper .focusable > div:first-child {
  width: 34px;
  height: 34px;
  left: 3.4px;
  top: 4px;
  border-color: #fb6400;
  margin-top: -1px;
}

.host-wrapper .focusable > div:last-child {
  top: 5.5px;
  left: 4.5px;
  width: 30px;
  height: 30px;
}

.host-wrapper .focusable.selected > div:first-child, .host-wrapper .focusable:focus > div:first-child {
  background: #fb6400;
  margin-top: -1px;
}

.host-wrapper .focusable.selected > div:last-child, .host-wrapper .focusable:focus > div:last-child {
  background: #fb6400;
}

.host-wrapper.pin-bottom, .host-wrapper.pin-right, .host-wrapper.pin-left, .host-wrapper.pin-top {
  width: 40px;
  height: 40px;
}

.host-wrapper.pin-bottom .focusable, .host-wrapper.pin-right .focusable, .host-wrapper.pin-left .focusable, .host-wrapper.pin-top .focusable {
  width: 40px;
  height: 40px;
}

.host-wrapper.pin-bottom .focusable.selected > div:first-child, .host-wrapper.pin-bottom .focusable:focus > div:first-child, .host-wrapper.pin-right .focusable.selected > div:first-child, .host-wrapper.pin-right .focusable:focus > div:first-child, .host-wrapper.pin-left .focusable.selected > div:first-child, .host-wrapper.pin-left .focusable:focus > div:first-child, .host-wrapper.pin-top .focusable.selected > div:first-child, .host-wrapper.pin-top .focusable:focus > div:first-child {
  background: #fb6400;
}

.host-wrapper.pin-bottom .focusable.selected > div:last-child, .host-wrapper.pin-bottom .focusable:focus > div:last-child, .host-wrapper.pin-right .focusable.selected > div:last-child, .host-wrapper.pin-right .focusable:focus > div:last-child, .host-wrapper.pin-left .focusable.selected > div:last-child, .host-wrapper.pin-left .focusable:focus > div:last-child, .host-wrapper.pin-top .focusable.selected > div:last-child, .host-wrapper.pin-top .focusable:focus > div:last-child {
  background: #fb6400;
}

.host-wrapper.pin-bottom .focusable > div:first-child, .host-wrapper.pin-right .focusable > div:first-child, .host-wrapper.pin-left .focusable > div:first-child, .host-wrapper.pin-top .focusable > div:first-child {
  width: 34px;
  height: 34px;
  left: 3.4px;
  top: 4px;
  border-color: #fb6400;
  margin-top: -1px;
}

.host-wrapper.pin-bottom .focusable > div:last-child, .host-wrapper.pin-right .focusable > div:last-child, .host-wrapper.pin-left .focusable > div:last-child, .host-wrapper.pin-top .focusable > div:last-child {
  top: 5.5px;
  left: 4.5px;
  width: 30px;
  height: 30px;
}

.panel-wrap .panel {
  border-radius: 5px;
}

.panel-wrap .panel .head span#alertHeading.head-content {
  font-weight: 700;
}

.panel-wrap .panel #alertText .image-wrapper + div {
  max-width: 50%;
  flex-basis: 50%;
}

.panel-wrap .panel #alertText > div {
  max-width: 100%;
  flex-basis: 100%;
}

.theme-ih-explore #form-container {
  padding: 0 !important;
}

.theme-exp-dropdown-single .explib-widget-dropdown {
  width: 100%;
}

.theme-exp-dropdown-single .explib-widget-dropdown .main {
  padding: 0;
}

.theme-exp-dropdown-single .explib-widget-dropdown .main .select-box {
  width: 100%;
}

.theme-exp-dropdown-single .kMLaSp {
  display: block;
}

.theme-exp-dropdown-single .kMLaSp > span:first-child {
  width: 50%;
  display: inline-block;
}

.audio-controls .controls-button-wrapper button, .widget-controls .controls-button-wrapper button {
  padding: 0px !important;
}
.anatomy-title + .anatomy-stem {
	 border-top-right-radius: 0px!important;
	 border-top-left-radius: 0px!important;
}
main#wrapper.anatomy-wrapper.theme-undefined .anatomy-main .interaction-area > .row > section#form-container{
    border-bottom: 0px solid !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
/* Interaction Styles updates - RD - End */
