/*--------------------------------------------------------------------
 * Base Fonts and Sizes
 *------------------------------------------------------------------*/
/* Set the base font sizes for small and larger screens
The font size should be set on the <html> element, so that the
reader can adjust the size as it cascades by targeting the 
<body> element. */
html {
    font-size: $base-font-size-small;

    @include respond($bp-medium) {
      font-size: $base-font-size;
    }
}

html {
     @include respond-mobile {
    }
}

body {
    font-family: $body-font-family;
    color: $text-color;
    font-weight: 400;
    line-height: $base-line-height;
    letter-spacing: 0;
     @include respond-mobile {
        //background: pink;
    }
}

.sans-serif, blockquote {font-family: $font-serif;}
.sans-serif-italic {font-family: $font-serif;} 
.sans-serif-bold-italic {}
.sans-serif-bold {} 

/*------------------------------------------------------------------
 * Font Features
 *
 * Utilize font-smoothing when possible.
 *----------------------------------------------------------------*/
/* Add kerning ligatures to a small set of elements when 
 available. Do not add to the body or large blocks of text for 
 performance reasons. */
h1, h2, h3, h4, h5, h6,
blockquote {
    text-rendering: optimizeLegibility;
}

/* We have opted to not include -webkit-font-smoothing modifications
because every font and contrasting color choices yeilds mixed
results and can sometimes appear blurry. YMMV. */

/*--------------------------------------------------------------------
 * Inline Styles
 *
 * Styles for most inline tags and several custom spans.
 *------------------------------------------------------------------*/
/* strong / bold */
b, strong {
    font-weight: 700;
}

/* italics / emphasis */
i, em {
    font-style: italic;
}

/* strikethrough */
s {
  text-decoration:line-through;
}

/* deleted text */
del {
    text-decoration: line-through;
}

/* inserted text */
ins {
    text-decoration: underline;
}

/* copyright and legal text */
small {
    font-size: $font-size-small;
    line-height: 0.9em; // fixes line-height bug
}

/* small, upercase font */
.smallcaps {
    font-variant: small-caps; 
}

/* subscript and superscript */
sup, sub {
   vertical-align: super;
   font-size: 0.6em;
   line-height: 0.9em; /* fixes line-height bug */
}

sub {
    vertical-align: sub;
}

/* underline */
u,
.underline {
    text-decoration: underline;
}

/* double underline */
.u-double {
    text-decoration: none;
    border-bottom: 3px double $text-color;
}


/* add box around span */
.boxed {
    border: 1px solid darken($text-color, 10%);
    border-radius: 2px;
    line-height: 1;
    padding: em(1px) em(3px);
}

/* add smaller box around span */
.boxed-small {
    @extend .boxed;
    font-size: $font-size-small;
    line-height: 0.9em; // fixes line-height bug
}

/*--------------------------------------------------------------------
 * Code
 * 
 * Code and monospace styles.
 *------------------------------------------------------------------*/
code,
kbd,
samp {
    border-radius: 2px;
    font-family: $font-mono;
    font-size: $font-size-small;
    line-height: 0.9em; /* fixes line-height bug */
    padding: 2px;
    vertical-align: middle;
}

/* preformatted code blocks */
pre {
  margin-bottom: em($base-line-height);
  overflow-x: scroll;
  white-space: pre;
  
  code {
    display: block;
    padding: $indent-unit/2;
    line-height: 1.2;
    overflow: auto;
  }
}

/*--------------------------------------------------------------------
 * Paragraphs
 *------------------------------------------------------------------*/
p {
    margin-top: 1rem;
    //margin-bottom: space(1);
}

/*--------------------------------------------------------------------
 * Force wrap
 *
 * Forces long strings to wrap to the next line.
 *------------------------------------------------------------------*/
.force-break,
.force-wrap {
  @include force-wrap;
}

/*--------------------------------------------------------------------
 * Force Hyphen
 *
 * Use with `<span class="force-hyphen">Longunbrokenword</span>. 
 * Forces breaks at mobile size, otherwise tries to add hyphens for 
 * browsers that support it.
 *------------------------------------------------------------------*/
.force-hyphen {
  word-break: break-all;
  @include respond($bp-medium) {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; 
  }
}